.qwe{
  background: linear-gradient(258deg,#00498a,#006aa7,#17d19b,#00bfaf);
  background-size: 240% 240%;
  animation: gradient-animation 10s ease infinite;
clip-path: ellipse(71% 52% at 37% 22%);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}