@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


body {
    font-family: "Manrope", sans-serif;     
}

@theme {
    --color-darkBlue : #00285E;
    --color-darkerBlack: #0D0C14;
    --color-blackText: #0a2540;
    --color-DarkblackText: #15385c;
    --color-DarkblackBorder: #22476e;
    --color-primaryBlue: #00498a;
    --color-secondaryBlue: #006aa7;
    --color-primaryGreen: #17d19b;
    --color-secondaryGreen: #00bfaf;
}

